.dashboard {
    margin-block: 7%;
    margin-inline: 2.5%;
}

.table-wrapper {
    overflow-x: auto;
}

thead {
    font-weight: bold;
}

input {
    border: 1px solid darkgray;
    border-radius: 2px;
    padding: 5px;
}

button {
    border-radius: 2px;
    padding: 10px;
    width: 50px;
}


td {
    width: max-content;
    padding: 15px;
}

body {
    background: none;
    color: initial;
}

