.html, .react, .react-native, .css, .maui, .c-sharp, .php, .nextjs, .git {
    width: 75%;
}

.javascript, .laravel, .unity, .filezilla {
    width: 60%;
}

.unity {
    margin-left: -0.4rem;
}

.sql {
    width: 70%;
}

.typescript {
    width: 55%;
}